<launch>

  <node 
  pkg="bno055_serial_to_imu" 
  type="bno055_serial_to_imu_node" 
  name="bno055_serial_to_imu_node" 
  respawn="true"
  respawn_delay="2">
    <param name="port" value="/dev/ttyACM0"/>
  </node>

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find bno055_serial_to_imu)/rviz/demo.rviz" required="true"/>

</launch>
